.app-main {
  width: 100vw;
  height: 94vh;
  background-color: #282828;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 9% 20px 10px;
  user-select: none;
  position: relative;
  overflow: hidden;
}